#main-page {
    padding-top: 10%;
    font-family: 'Roboto Condensed';
}
footer {
    padding-top: 10%;
    bottom: 10px;
    width: 100%;
    color: gray;
    font-family: 'Roboto Condensed';

  }
body {
    background-color: #e2d6d6;
    align-items: center;
    text-align: center; 
    padding-left: 25%;
    padding-right: 25%;
}
.product-card {
    padding-bottom: 1%;
}
img {
    max-width: 300px;
}
.product-price {
    font-size: 30px;
}
.product-desc {
    font-size: 10px;
}